.why-choose-us__container {
    height: 100vh;
    width: 90%;
    /* margin: 1rem; */
    margin: 1.5rem 2.5rem;
    padding: 2rem;
    margin-bottom: 6rem;
}

.textes__section {
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 1rem;
}

.textes__section h4 {
    color: #81bf44;
    font-weight: 500;
    margin-bottom: 5px;
}

.textes__section p {
    margin-bottom: 5px;
}

.body__section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2px;
    margin: 20px 5px;
    padding: 20px;
}


.images__section img{
    object-fit: cover;
    width: 94%;
    height: 400px;
}

.write__section h3 {
    font-size: 30px;
    font-weight: 700;
}

.choose__box {
    display: flex;
    margin-top: 10px;
    padding: 2px;
    gap: 12px;
}

.choose__boxes {
    background-color: #fff;
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
    display: flex;
    padding: 20px; 
    gap: 5px;
}

.icones {
    color: #81bf44;
    font-size: 2rem;
    padding: 6px;
}

.textes h5 {
    color: #222;
    font-weight: 400;
    font-size: 20px;
}

.textes p {
    font-size: 15px;
    text-align: left;
}

.write__section button {
    margin-top: 20px;
    padding: 15px 25px;
    background-color: #81bf44;
    text-decoration: none;
    color: #fff;
    margin: 20px; 
    border: none;
    transition: all .3s ease-in-out;
}
.write__section a {
    text-decoration: none;
    color: #fff;
    font-size: 1rem;
}
.write__section button:hover {
    background-color: #00afda;
}

@media screen and (max-width: 850px) {
    .why-choose-us__container {
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: 0;
        margin-bottom: 37rem;
       
    }

    .images__section img {
        /* object-fit: contain; */
        max-width: fit-content;
        width: 200%;
        height: 400px;
        padding: 0;
        margin: 0;
    }

    .textes__section {
        margin: 0;
        padding: 0;
    }
    .textes__section h3 {
        font-size: 25px;
    }

    .body__section {
        display: flex;
        flex-direction: column;
        margin: 0;
        padding: 0;
    }

    .images__section {
        width: 100%;
        margin-top: 25px;
    }

    .images__section img {
        margin: auto;
        width: 260px;
    }




}