.contactbody__container {
    background: #f7f7f7;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%; 
  }
  
  .contactbody__content {
    display: flex;
    gap: 2rem;
    max-width: 100%; 
    margin: 2rem 4rem;
    padding: 20px;
  }
  
  .contact__T {
    margin-bottom: 20px;
    width: 100%;
  }
  
  .contact__T h3 {
    margin-bottom: 20px;
    font-size: 1.5rem;
    font-weight: 500;
  }
  
  .contact__T p {
    margin-bottom: 30px;
  }
  
  .contact__form form {
    max-width: 100%;
  }
  
  .contact__form label {
    margin-bottom: 5px;
    font-weight: bold;
  }
  
  .contact__form input,
  .contact__form textarea {
    margin-bottom: 15px;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;

  }
  
  

  .map-responsive {
    overflow: hidden;
    padding-top: 56.25%; 
    position: relative;
  }
  
  .map-responsive iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
  }

  

 /* Success message box styling */
.popup {
  position: fixed;
  top: 20px;
  right: 20px;
  z-index: 1000;
  width: 300px;
  background-color: #fff; /* Light green background */
  color: #155724; /* Dark green text */
  border: 1px solid #c3e6cb; /* Green border */
  border-radius: 5px; /* Rounded corners */
  padding: 15px;
  font-size: 16px; /* Font size for text */
  text-align: center; /* Centered text */
}

.popup p {
  margin: 0; /* Remove default margin */
}

/* Optional: add a close button to the popup */
.popup .close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  background: #fff;
  border: none;
  font-size: 18px;
  color: #155724;
  cursor: pointer;
}

/* Popup box for error messages */
.popup.error {
  background-color: #f8d7da; /* Light red background */
  color: #721c24; /* Dark red text */
  border: 1px solid #f5c6cb; /* Red border */
}

/* Styling for error message */
.popup.error p {
  color: #721c24; /* Dark red text */
}
  

@media screen  and (max-width: 850px) {
    .contactbody__content {
        display: flex;
        flex-direction: column;
        margin: 0;
    }
    
}