.PageHero__background {
    background-image: url("/src/media/HC-Banner.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 60vh;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    position: relative;
    z-index: 0;
    position: relative;
}

.PageHero__container {
    background-color: rgba(0, 0, 0, 0.5);
    color: #fff;
    max-width: 720px;
    margin:  auto;
    height: auto;
    padding: 20px;
    margin-top: 10%;
    padding: 3%;
}

.PageHero__container h1 {
    font-size: 5rem;
}

@media screen and (max-width: 850px) {
    .PageHero__background {
        height: 40vh;
    }
    .PageHero__container {
        margin:  auto;
        height: auto;
        padding: 20px;
        margin-top: 30%;
    }

    .PageHero__container h1 {
        font-size: 3rem;
    }
}